* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: #ab47bc;
}

header {
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    color: aliceblue;
    padding: 10px;
    letter-spacing: 0.3em;
}

.container {
    background-color: #ba68c8;
    min-height: 100%;
}

.create-list {
    display: flex;
    justify-content: center;
}

#input-list {
    border: none;
    border-bottom: 2px solid rgb(240, 208, 208);
    background-color: #c177cece;
    height: 50px;
    min-width: 100vw;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    caret-color: #111111;
}

#input-list:focus {
    outline: none;
}

::placeholder {
    color: #e4d5d5;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.list {
    min-height: 80vh;
    width: 65vw;
    margin: 70px auto;
    font-size: 20px;
}

.list-items {
    list-style: none;
    padding: 20px;
}
.item {
    height: 50px;
    background: #ffffff80;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 2px;
    padding: 10px 30px;
    color: #111111;
}
.delete{
    height: 15px;
    width: 14px;
    float: right;
    margin:7px;
    margin-top: 7px;
    cursor: pointer;
}