:root {
    --main-bg-color: #022c43;
    --secondary-color: #053f5e;
    --item-color: #115173;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: var(--main-bg-color);
}

header {
    min-height: 10vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    color: aliceblue;
    padding: 10px;
    letter-spacing: 0.3em;
    overflow-y: hidden;
}

.container {
    background: var(--main-bg-color);
    min-height: 100%;
}

.create-list {
    display: flex;
    justify-content: center;
}

#input-list {
    border: none;
    border-bottom: 2px solid #ddd;
    background: var(--secondary-color);
    height: 50px;
    min-width: 100vw;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    caret-color: #ffffff;
}

#input-list:focus {
    outline: none;
    background: var(--item-color);
}
#input-list:focus::placeholder {
    opacity: 0.5;
}
::placeholder {
    color: #e4d5d5;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.list {
    min-height: 80vh;
    width: 65vw;
    margin: 70px auto;
    font-size: 20px;
}

.list-items {
    list-style: none;
    padding: 20px;
}
.item {
    min-height: 50px;
    background: var(--item-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin: 5px;
    padding: 10px 30px;
    color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.delete {
    height: 15px;
    width: 14px;
    float: right;
    margin: 7px;
    margin-top: 7px;
    cursor: pointer;
}
::selection {
    color: var(--main-bg-color);
    background: #ddd;
}
@media only screen and (max-width: 500px) {
    header {
        height: 10vh;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        color: aliceblue;
        padding: 15px;
        letter-spacing: 0.3em;
    }

    ::placeholder {
        color: #e4d5d5;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
    }

    .list {
        min-height: 80vh;
        width: 90vw;
        margin: 70px auto;
        font-size: 20px;
    }

    .item {
        min-height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
